.AddBrand-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.604);

  .add-brand {
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 32px;
    border-radius: 20px;
    // width: 40%;
    height: 80%;
    width: 80%;
    overflow-y: scroll;
    .image_lable {
      display: flex;
      align-items: center;
      padding: 40px;
      border: dotted;
      border-radius: 20px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      label {
        // display: flex;
        gap: 12px;
        width: 100%;
        input {
          border: none;
          border-bottom: 1px solid black;
          padding: 8px;
          width: 100%;
        }
        textarea {
          width: 100%;
          border: none;
          padding: 8px;
          border-bottom: 1px solid black;
        }
      }
      .add-btn {
        padding: 12px;
        border: none;
        border-radius: 20px;
        color: white;
        cursor: pointer;
        background-color: #3498db;
      }
    }
  }
}
