.offer-detail {
  text-align: center;
  padding: 80px 20px;

  .loading,
  .error {
    font-size: 1.5rem;
    color: #e50914;
  }

  .sale-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(255, 0, 0, 0.8) 100%
    );
    padding: 20px;
    color: white;
    flex-wrap: wrap;

    .image-container {
      flex: 1;
      max-width: 500px;

      img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }

    .text-container {
      flex: 1;
      padding: 20px;
      text-align: left;

      h1 {
        font-size: 2rem;
        margin-bottom: 10px;
      }

      h2 {
        font-size: 2.5rem;
        margin: 10px 0;
      }

      .shop-now-button {
        background-color: #e50914;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        font-size: 1em;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #f03225;
        }
      }
    }
  }

  .sections {
    display: flex;
    align-items: center;

    .additional-section {
      width: 100%;
      max-width: 800px;
      padding: 20px;
      margin: 20px 0;
      background-color: #f4f4f4;
      border: 1px solid #ccc;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      h2 {
        margin-top: 0;
      }

      .user-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        .user-item {
          display: flex;
          justify-content: space-between;
          margin: 10px 0px;
          padding: 10px 20px;
          width: 100%;
          max-width: 400px;
          background-color: white;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          p {
            margin: 0;
            font-weight: bold;
          }

          a {
            color: #e50914;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
