.Brands-container {
  padding: 10px 20px 10px 20px;
  .add-brands-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
    padding-bottom: 12px;

    .add {
      color: white;
      padding: 12px;
      width: 15%;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      background-color: #3498DB;
      border-radius: 8px;
      margin-right: 20px;
      &:hover {
<<<<<<< HEAD
        text-decoration: underline;
=======
       color: white;
       border-radius: 50px;
       border-color: #fa8730;
       transition: all 0.3s ease 0s;
>>>>>>> 933d136e261b8e4ef1b7df1f09f3273c0edac272
      }
    }
    
  }
  .brands {
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
    .col {
      width: 100%;
      border-radius: 5px;
      display: flex;
      gap: 12px;
      border: 1px solid rgba(0, 0, 0, 0.292);
    }
    .brand {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      // background-color: whitesmoke;
      padding: 12px;
      border: 1px solid #E4E9EA ;
      border-radius: 20px;
      box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
      &:hover{
       border: 1px solid grey ;
      }
      .brand-image {
        img {
          height: 20vh;
          padding: 24px;
          // border: 1px solid black;
          border-right: .2em solid rgb(175, 171, 171);
          border-radius: 200px;
      
        }
      }
      .brand-details {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 0px 52px;
      }
      .brand-view {
        width: 15%;
        background-color: #3498DB;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        padding: 12px;
        border-radius: 8px;

        &:hover{
         color: white;
border-radius: 50px;
border-color: #fa8730;
transition: all 0.3s ease 0s;
        }
      }
    }
  }
}
