.Brands-container{
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .col{
        width: 100%;
        display: flex;
        // gap: 40px;
    }
    .brand{
        display: flex;
        justify-content: center;
        align-items: center;   
        width: 100%; 
        // gap: 20px;
        background-color: whitesmoke;  

        .brand-image{
            img{
               height: 20vh;
               padding: 24px;
            }
        }
        .brand-details{
         display: flex;
         flex-direction: column;
         padding: 0px 40px;
        }
        .brand-view{
            width: 10%;
            background-color: rgb(48, 80, 219);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            padding: 12px;
        }
    }
}