* {
  margin: 0;
}
.DeleteConfirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #0000009d;
  // backdrop-filter: blur(1px); /* You can adjust the blur amount as needed */
  z-index: 9999999;
}
